.fixed-top-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1030;
}
.mediumnavigation .container, .mediumnavigation .container .row {
    width: 100%;
}
#navbarsExampleDefault div {
    width: 100%;
}
.mediumish-site-branding > div {
  display: inline-block;
  padding: 5px;
}
.mediumish-site-branding > div a {
  padding: 5px;
}
.mediumish-site-name {
  color: rgba(0,0,0,.5);
  font-size: 20px;
  font-weight: 500;
}
.mediumish-site-name:hover {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}
.alertbar-share {
  display: none;
  text-align: center;
  width: 100%;
}
.alertbar-share ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.alertbar-share ul li {
  display: inline-block;
}
@media (min-width: 768px) {
.navbar-right {
  float: right !important;
  margin-right: -20px;
  }
}

@media (max-width: 1023px) {
  .alertbar-share {
    display: block;
  }
}

.content-block-mediumish div:first-child {
  width: 100% !important;
}
.share span {
  display: block;
}
.tags > li {
  padding: 5px;
}
.posttitle {
  font-weight: 700;
  margin-bottom: 1rem;
}
.mediumish-blog-category div div{
  display: inline-block;
}

.morefromcategory {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    margin-top: 10px;
    color: #999;
}

.morefromcategory:hover {
    text-decoration: none;
}
.recent-posts .listrecent .thumbnail {
  width: 100%;
  height: 200px;
}

.bottompagination span.navigation, .bottompagination .pagination {
  display: block;
  font-size: 0.93rem;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
  color: #292929;
  border-top: 1px solid #ddd;
  border-radius: 0;
}

.bottompagination span.navigation li, .bottompagination .pagination .page-numbers {
  display: inline-block;
  list-style: none;
  margin: 0 2px;
  padding: 0 20px;
  border-radius: 2px;
  font-size: 14px;
  position: relative;
  color: #999;
}
.bottompagination span.navigation a {
  color: #999;
}
.bottompagination span.navigation li.is-active a, .bottompagination .pagination .page-numbers.current {
  color: #111;
  font-weight: 700;
}

.display-none {
  visibility: hidden;
}

.no-display {
  display: none;
}
.author-style {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.mediumish-tabs {
  margin: 1rem 0rem;
  display: inline-block;
  width: 100%;
}
.mediumish-tabs li {
  display: inline-block;
}
.mediumish-description, .mediumish-description + span {
  display: block !important;
}
.mediumish-author {
  margin: auto !important;
  width: 30%;
}
.mediumish-author-details {
  margin: auto !important;
  width: 70%;
  text-align: left !important;
}
.mediumish-author img {
  float: none !important;
  display: block;
  margin: auto;
}

.mediumish-block .row.post-top-meta {
  display: none;
}

.right-sidebar .mediumish-block span {
  display: block;
  padding: 4px;
}

.right-sidebar ul {
  list-style: none;
  padding: 4px;
}

@media (min-width:576px) {
  .mediumish-content-sidebar .card-columns.listrecent {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
  }
}
.right-sidebar .card-columns.listrecent {
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
}
.footer div * {
  display: inline-block;
}
.footer div > *:nth-child(n) {
  float: right;
}
.footer div > *:first-child {
  float: left;
}
ul {
  list-style: none;
}
.mediumish-blog-body blockquote {
  background: #f8f8f8;
  padding: 20px;
  border: 0;
  color: #333;
  font-style: normal;
  font-size: 1rem;
  white-space: nowrap;
  overflow-x: auto;
}
.mediumish-blog-body blockquote * {
  padding: 0;
  margin: 0;
}
.mediumish-blog-body img {
  max-width: 100%;
  height: auto;
}
.site-content {
  min-height: 70vh;
  padding-top: 100px;
  transition: all 0.4s;
}

.mediumish-lock-screen {
  background-color: #fff;
  background-color: rgba(245,245,245,0.95);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

.mediumish-lock-screen.mediumish-progress-hidden {
  display: none;
}

.mediumish-progress-throbber {
  background-image: url('../img/loader.gif');
  background-repeat: no-repeat;
  height: 128px;
  left: 45%;
  position: absolute;
  top: 42%;
  width: 128px;
  z-index: 9999;
}
@media (max-width: 767px) {
  .bottompagination span.navigation li, .bottompagination .pagination .page-numbers {
    padding: 0 10px;
  }

  .bottompagination ul {
    padding: 0;
  }

  .mediumish-progress-throbber {
    background-image: url('../img/loader-1.gif');
  }
}
.mediumish-archive ul {
  padding: 4px;
}
body {
  padding-top: 0;
}
.article-post {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}